* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
}

#player-content,
#bot-content {
  display: grid;
  background-color: red;
  border: 2px solid black;
  height: 60vh;
  width: 30vw;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#player-content div,
#bot-content div {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
